.sea-wheel {
  border: 30px solid;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  box-shadow: inset 3px 3px 6px #dccfd1, 3px 3px 6px pink;
}

.collection-wrapper {
  justify-content: space-evenly;
}
