<footer class="container">
  <h4 class="title">My collection</h4>

  <div class="row">
    <ul
      class="list-unstyled col-12 d-flex flex-column flex-wrap flex-lg-row collection-wrapper"
      *ngIf="seaWheels$ | async as seaWheels; else noSeaWheels"
    >
      <li class="border p-3 col-12 col-lg-2 mb-3 mr-lg-3 d-flex flex-column" *ngFor="let seaWheel of seaWheels">
        <button
          type="button"
          class="close align-self-end d-flex justify-content-end"
          (click)="deleteSeaWheel(seaWheel.id)"
        >
          &times;
        </button>

        <div class="align-self-center sea-wheel" [style.borderColor]="seaWheel.color"></div>
        <div class="text-center mt-3">{{ seaWheel.name }}</div>
      </li>

      <div *ngIf="!seaWheels || seaWheels.length === 0">
        <ng-container *ngTemplateOutlet="noSeaWheels"></ng-container>
      </div>
    </ul>
  </div>
</footer>

<ng-template #noSeaWheels>
  <div>No collection yet</div>
</ng-template>
