$colorSize: 30px;

input[type='color'] {
  -webkit-appearance: none;
  background: none;
  width: $colorSize;
  height: $colorSize;
  cursor: pointer;
  outline: none;
  border: none;

  &::-webkit-color-swatch,
  &::-webkit-color-swatch-wrapper {
    margin: 0 !important;
    border-radius: 5px;
    padding: 0;
    width: $colorSize;
    height: $colorSize;
  }
}

.material-field {
  border-radius: 5px !important;

  &:focus {
    border: 1px solid #ccc;
    box-shadow: none;
  }
}

.options-wrapper {
  border-right: 1px solid #ccc;
}
