<main class="container mb-3 mb-sm-5">
  <div class="row flex-column flex-sm-row justify-content-between">
    <div class="col-12 col-lg-4 mb-3 options-wrapper">
      <h4 class="title">Attributes</h4>

      <form (ngSubmit)="onSubmit()" [formGroup]="configuratorForm" class="flex-row" novalidate>
        <div class="form-group">
          <div class="input-group row">
            <div class="input-group-prepend col-4">
              <label class="align-self-center" for="name">Name</label>
            </div>
            <input
              formControlName="name"
              class="form-control col"
              type="text"
              name="name"
              id="name"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
            />

            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div class="col" *ngIf="f.name.errors.required">Name is required</div>
            </div>

          </div>
        </div>

        <div class="form-group">
          <div class="input-group row">
            <div class="input-group-prepend col-4">
              <label for="color">Color</label>
            </div>
            <input formControlName="color" id="color" class="p-0" type="color" name="color" (input)="updateColor()" />
          </div>
        </div>

        <button type="submit" class="btn btn-primary mt-3 col">Add to your Sea Wheel collection</button>
      </form>
    </div>
    <div class="col-12 col-lg-8">
      <h4 class="title">Model</h4>

      <muf-model></muf-model>
    </div>
  </div>
</main>
