<header class="mb-3 mb-lg-5">
  <nav class="navbar navbar-dark bg-secondary">
    <span class="navbar-brand mb-0 h1">Mecuris - Fullstack challenge</span>
  </nav>

  <div class="mt-3 text-center container">
    <h1>Create your Sea wheel collection</h1>
  </div>
</header>
