/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.pointer {
  cursor: pointer;
}

*:focus {
  outline: none !important;
}

.title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.margin-0auto {
  margin: 0 auto;
}
